<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista de Produtos</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<main>
		<table>
			<caption>Lista com os Produtos</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Descrição</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody>
				<%for(let i=0; i<lista.length; i++) {%>
					<tr>
						<td><%= lista[i].idBook %></td>
						<td><%= lista[i].title %></td>
						<td><%= lista[i].description %></td>
						<td><%= lista[i].price %></td>
					</tr>
				<%}%>
			</tbody>
		</table>
	</main>
</body>
</html>