body {
   font-family: "Crimson Text", serif;
   background-color: #F2FFFC;
}

h1 {
   font-size: 60px;
   background-color: #851944;
   color: rgb(250, 255, 250);
   text-align: center;
}

h2 {
   font-size: 40px;
}

h1, h2 {
   font-family: "Open Sans Condensed", sans-serif;
}

p {
   text-align: justify;
}